@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
  width: 10%;
  border: 2px solid darkred;
  border-radius: 25px;
  font-weight: bolder;
  font-style: italic;
  margin-right: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo h1{
  color: rgb(243, 8, 153);
}
.logo:hover{
  background-color: white;
}
.pages{
  display: flex;
}
.links{
  display: flex;
  color: rgb(255, 0, 34);
  margin-top: 10px;
  gap: 40px;
  font-weight: 700;
}
.links li:hover{
color: white;
background-color: rgb(255, 0, 0);
border: 2px solid darkorange;
padding: 4px;
border-radius: 4px;
}
.btn{
  margin-left: 100px;
  color: brown;
  border: 2px solid rgb(243, 27, 27);
  padding: 2px;
  border-radius: 10px;
  font-weight: bold;
}
.btn:hover{
  background-color: rgb(255, 0, 200);
  color: black;
  border: 4px solid darkred;
}



.first-div{
  height: 100vh;
  width: 100%;display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(236, 81, 81),pink);
}
.second-div{
  border: 4px solid rgb(252, 5, 5);
  border-radius: 10%;
  height: 500px;
  width:25%;
  margin: 20px;
  padding-left: 50px;
  padding-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.second-div:hover{
  border: 7px solid darkred;
}
.img{
  position: relative;
  overflow: hidden;
  height: 45%;
  width: 80%;
  border: 2px solid darkred;
  border-radius: 10%;
  padding-left: 70px;
  background: linear-gradient(to right, black, green);
}
h1{
  padding: 8px;
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
}
.btn-low{
  border: 2px solid darkred;
  border-radius: 20%;
  padding: 5px;
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}
.btn-low:hover{
  background-color: aliceblue;
  color: brown;
}
.post{
  height: 90vh;
  width: 80%;
  border: 2px solid darkblue;
  border-radius: 15%;
  margin-left: 10%;
  background: linear-gradient(to right, rgb(233, 157, 233), gray);
  display: flex;
}
.heading{
  margin: auto;
}
.image{
  height: 200px;
  width: 20%;
  margin: 40px;
}
